@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Prompt:wght@500&display=swap');

.van-tiles{
    width: 400px;
    height: 600px;
}

h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: black;
}

span{
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #161616;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.van-info{
    display: flex;
    justify-content: space-between;
}

.van-type {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.van-type.selected {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
}

.van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury.selected {
    background-color: #161616;
}
