@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.van-detail-container > h2{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 1000px;
    margin-top: 500px;
}

.van-detail-type {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    height: 24px;
    width: 90px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #eb870d;
    color: #050000;
    margin-left: 900px;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    align-items: center;
}

.van-detail > img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail > h2 {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-size: 700;
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-price {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-price > span {
    font-size: 1.5rem;
}

.van-desc{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    word-wrap: break-word;
    width: 500px;
}

.link-button {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}