@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900;&display=swap');

.navbar{
    width: 1830px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px #888888;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ecaa58;
}

.navbar > a{
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.navbar > a:hover{
    text-decoration: underline;
}

.navbar-links{
    list-style: none;
}

.navbar-links > li{
    display: inline-block;
    margin: 0 30px;
}

.navbar-links > li > a{
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #4D4D4D;
}

footer{
    background-color: rgba(211, 176, 176, 0.5);
    color: rgb(38, 175, 56);
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    height: 33px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 33px;
}
